<hr/>
<ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide style="height: 400px;">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/prime/Gateway/2019/May/1171883_1500x600_Tallhero._CB462550275_.jpg" alt="Random first slide">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide style="height: 400px;">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Wireless/Honor/HonorDays25thJune/GW/DD10836866_BAU_Honor_Days_25th-29th_June_DesktopTallHero_1500x600._CB442694896_.jpg" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
  </ngb-carousel>

  